<div>
  <ul> 
   <% @memo_data.each do |id| %>
        <%= '<li>' %>
          <%= '<a href='+"http://localhost:4567/memos/#{id["memo_id"]}>#{id["memo_title"]}</a>" %>
        <%= '</li>' %>
   <% end %>    
  </ul>
</div>
