<div>
  <ul> 
   <% @memos.each do |memo| %>
        <%= '<li>' %>
          <%= '<a href='+"http://localhost:4567/memos/#{memo["memo_id"]}>#{memo["memo_title"]}</a>" %>
        <%= '</li>' %>
   <% end %>    
  </ul>
</div>
