<!DOCTYPE html>
<html>
  <head> 
    <title>New memo - メモアプリ</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <form action="/" method="POST">
    <div>
      <input type="hidden" name="id" value="<%= Time.now.strftime("%Y%m%d%H%M%S%N") %>">
    </div>
    <div>
      <input type="text" name="memo_title" required="" class="input-title">
    </div> 
    <div>
      <textarea id="memo" name="memo_text" rows="5" wrap="hard"  class="input-text"></textarea>
    </div>
    <div>
      <input type="submit" value="保存" class="form-button">
    </div>
    </form>
  </body>
</html>



